<h1>Congratulations, you are into the draw!</h1>

<div class="container" ng-show="FeedbackResponse">
    <div class="row">
        <label class="col-md-2">
            Id:
        </label>
        <label class="col-md-4">
            {{FeedbackResponse.Id}}
        </label>
    </div>
    <div class="row">
        <label class="col-md-2">
            Name:
        </label>
        <label class="col-md-4">
            {{FeedbackResponse.Name}}
        </label>
    </div>
    @*TODO Add email*@
</div>