<h1>Congratulations, you are into the draw!</h1>

<div class="container" ng-show="FeedbackResponse">
    <div class="row">
        <strong class="col-md-2 ">
            Id:
        </strong>
        <strong class="col-md-4">
            {{FeedbackResponse.Id}}
        </strong>
    </div>
    <div class="row">
        <strong class="col-md-2">
            Name:
        </strong>
        <strong class="col-md-4">
            {{FeedbackResponse.Name}}
        </strong>
    </div>
    @*TODO Add email*@
</div>