@section scripts
{
    <base href="/">
}


<div class="jumbotron">
    <h1>New York!</h1>
    <p class="lead">Enter your details below to go into the draw for a trip for 2 to New York</p>
</div>
<div ng-app="feedbackApp">
    <div ng-view></div>
    <a class="btn btn-link" href="@Url.Action("AboutUs")">About Us</a>
</div>
